*{
    padding: 0%;
    margin: 0%;
}
.header{
    background-color:#ff8a8a ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    display: grid;
    grid-template-columns: 50% 40% 10%;
border-bottom: solid black;
position: fixed;
top: 0;
width: 100%;
z-index: 100;

}

.logo{
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: larger;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
 .logo i{
    font-size: 35px;
    padding: 0 5px;
}
.contant ul{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  
}

.contant ul li{
    padding: 0 18px;
    font-size: large;
}
.contant ul li:hover{
    color: white;
}
.inbox i{
    font-size: 25px;
    cursor: pointer;
}

/* image */
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  
}
.lines{
    justify-content: center;
    text-align: center;
    padding: 0 42px;
    margin: 40px;
}
.lines h1{
    font-size: 80px;
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}
.lines h6{
    
    justify-content: center;
    text-align: center;
    font-size: medium;
    line-height: 25px;
    word-spacing: 6px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 30px;

}
.sami{
    margin-top: 120px;
    margin-right: 50px;
}
.sami img{
    width: 100%;

}
/* image */

.property{
    padding: 60px 0px ;

}
.property button{
     margin-top: 12px;
     font-size: 20px;
     background-color: #ff8a8a;
     cursor: pointer;
     color: white;
     float: left;
    margin-left: 30px;
     border: none;
height: 55px;
width: 160px;

}
.property button:hover{
    background-color:red;
}
/* tag */
.feature{
   
    float: right;
    font-size: 45px;
    margin: 20px;
    padding: 20px;
    font-family: 'Gill Sans',  'Trebuchet MS', sans-serif;
}
.feature h1 {
    margin-top: 100px;
}
/* tag */

/* second */

#makeup{
display: grid;
grid-template-columns: 33% 33% 33%;
position: absolute;
color: red;
padding: 20px;
gap: 20px;
}
.slider img{
    max-width: 100%;
    height: auto;
}
/* second */


/* makeup */
.services{
    display: grid;
    grid-template-columns: 27% 27% 27%;
    gap:3%;
    width: 100%;
    justify-content: center;
}

.make img{
height: auto;
width: 220%;

}


.make{
position: relative;
background-color: aqua;
overflow: hidden;
display: flex;
justify-content: center;
background-color: #ff8a8a;
}
.write{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}
.write h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.write h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}
.write h4,.write h2{
    text-align: left;
}

/* makeup */

/* whatdo */
.what {
    color: #ff8a8a;
    font-size: 40px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 30px;
    padding: 40px;
    margin-top: 10%;
    
}
/* whatdo */


/* loram */
.loram{
    display: grid;
    grid-template-columns: 50% 50%;
    cursor: pointer;
   
    
}
 .ipsum{
    text-align: left;
    margin-left: 12%;
    font-size: 26px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.underline {
    position: relative;
  }

  .underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust the value to control the distance between the line and the heading */
    width: 100%;
    height: 2px;
    background-color: #000; /* Customize the color of the line */
  }
  .ipsum p{
    padding-top: 7%;
    line-height: 45px;
  }
  .ipsum p:hover{
  color: #ff8a8a;

  }
/* loram */


/* background */
.background{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6%;
    margin-top: 3%

}
.background2{
    margin-top: 5%;
}
.background img{
    width: 100%;
}

.background2 h1{
    font-size: 60px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;


}
.background2 p{
    line-height: 45px;
    font-size: 15px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    margin-top: 5%;

}
.background1 img{
    margin-left: 12%;
}
/* background */






/* awards */
.awards{
    display: grid;
    grid-template-columns: 35% 65%;

}
.awards1 h1{
    padding:0px 30px;
    text-align: center;
font-size: 80px;
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
text-transform: capitalize;

}
.kutta{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border-bottom: 3px solid #000;


}
.p21{
    justify-content: center;
}
.image44 img{
 width: 160px;
 height: 100px;
}
/* awards */






/* watch*/
.watch h1{
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    margin-top: 10%;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(21, 21, 21);

}
/* watch*/


/* youtube */
.center{
    position: relative;
    padding: 100px 50px;
    
}
.center img{
    width: 100%;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.icon i{
    font-size: 70px;
    color: #ff8a8a;
    
}

.youtube img{
    height: 90vh;
    width: 88%;
    margin-left: 6%;
    margin-top: 2%;
}
/* youtube */


/* faq */
.faq{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 110px;
    margin-top: 7%;
    justify-content: center;
    text-align: justify;
    padding-top: 2%;
}
.full h1{
    font-size: 70px;
    font-weight: 600;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 15%;
    margin-top: 3%;
    
}
.answer h1{
    font-size: 30px;
    margin-top:5%;
}
.question h6{
    line-height: 23px;
    font-size: 15px;
    margin-top:5%;
    margin-left: 4%;
    color:#666666;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

    font-weight: 500;
}
/* faq */



/* faq11 */
.faq11{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 110px;
    justify-content: center;
    text-align: justify;
    padding-top: 2%;
}
.full11{
    font-size: 15px;
    line-height: 23px;
justify-content: left;
padding: 0 30px;
margin-left: 8%;
color:#666666;
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
margin-top: 4%;
font-weight: 500;

}

.answer11 h1{
    font-size: 30px;
    margin-top:5%;
}
.question11 h6{
    line-height: 23px;
    font-size: 15px;
    margin-top:5%;
    margin-left: 4%;
    color:#666666;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
}
/* faq11 */



 /* faq12 */
 .faq12{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 110px;
    justify-content: center;
    text-align: justify;
    padding-top: 2%;
}

.answer12 h1{
    font-size: 30px;
    margin-top:5%;
}
.question12 h6{
    line-height: 23px;
    font-size: 15px;
    margin-top:5%;
    margin-left: 4%;
    color:#666666;
    font-weight: 500;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
 /* faq12 */


 /* client */
 .client{
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top: 13%;
    justify-content: center;
 }
 .clientin{
    font-size: 20px;
    text-transform: uppercase;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

 }
 .clientin h1{
    font-weight: 600;
 }
 .clientout{
    color:#666666;
    font-size: 15px;
    line-height: 28px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;


   
 }
 .clientout h6{
    font-size: 17px;
    font-weight: 500;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

 }
 /* client */



 /* rowimage */
.rowimg{
    margin-top: 9%;
display: grid;
grid-template-columns: 18% 18%  18% 18% 18% ;
}
.png1 img{
    height: 100px;
    width: 140px;
    margin-left: 45%;
}
 /* rowimage */


 /* test */
 .test{
    padding: 6%;
 }
 .test h1{
    margin:3%;
    font-size: 70px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #ff8a8a;
    
 }
 /* test */



 /* martin */
 .martin{
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-around;
 }
 .jessica{
border-top: 3px solid black;
    padding:70px 0;
    display: flex;
    justify-content: space-between;

 }
 .jessica-img{
    display: flex;
    
 }
 .jessica-img img{
    height: 77px;
    border-radius: 50%;
    margin-right: 15px;
 }
 .jessica-id{
    line-height: 34px;
    
 }
 .jessica-id h1{
font-size: 25px;
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-weight: 500;


 }
 .jessica-id p{
    text-align: left;
    color: #666666;
    font-size: 18px;
    padding-left: 5px;
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

 }
 .twiter{
    padding-left: 60px;
    font-size: 45px;
    color: rgb(142, 142, 239);
 }
 .elit{
    text-align: left;
    line-height: 33px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;


 }
 .elit h3{
    font-size: larger;
    font-weight: 600;
    word-spacing: 8px;
    color: #2e2c2c;

 }
 /* martin */


 /* folow-us */
.folow h1{
    margin-top: 10%;
text-align: center;
font-size: 45px;
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

font-weight: 400;
}
 /* folow-us */


 /* photoes */
 .photoes{
    display:flex;
    gap: 30px;
    /* justify-content: space-around; */
    padding: 40px;
    justify-content: center;

 }
 .photo1 img{
width: 260PX;
height: 300PX
 }
 /* photoes */


 /* end down */
.contact{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    border-bottom: 2px solid black;

}
.happy{
    height: 80px;
    padding: 15px;
}
.happy i{
    padding: 17px 0 0 17px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    background-color: #ff8a8a;
}
.happy h1 {
    font-size:40px;
}
.happy p{
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

 /* end down */

 /* copy-right */
 .copy-right{
    margin: 5% 0;
    display: flex;
    justify-content: space-around;
 }
 .all-left{
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-left: 30%;
 }
 .all-left i{
    font-size: x-large;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
 }
 .all-left i:hover{
    color: #ff8a8a;
    padding: 3px 0;
 }
 /* copy-right */


